<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <%- include('logo.ejs') %>
                </div>
                <div class="text">
                    Produits <br>
                    D'une Qualité maximale <br>
                    Et Excellent services
                </div>
                <div class="text" >
                    Fiabilité <br>
                    Efficacité<br>
                    Soutenabilité
                </div>
            </div>
            <div class="col">
                <div class="titre">lien</div>
                <ul>
                    <li><a href="">Acceuil</a></li>
                    <li><a href="">Produit</a></li>
                    <li><a href="">Catalogue</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="titre">Réseaux sociaux</div>
                <ul>
                    <li><a href=""><i class="fab fa-facebook-f"></i>Facebook</a></li>
                    <li><a href=""><i class="fab fa-twitter"></i>Twitter</a></li>
                    <li><a href=""><i class="fab fa-instagram"></i>instagram</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="titre">Contactez-nous </div>
                <ul class="last">
                    <li> <strong><i class="fa fa-map-marker "></i></strong> <span>N°4,2éme Etage Av el Amir Abd
                            Elkader N°78 Cité
                            Almassira -Agadir</span> </li>
                    <li><strong><i class="fa fa-phone "></i></strong><span>00212 528 23 23 29</span></li>
                    <li><strong><i class="fa fa-envelope "></i></strong> <span>info@swissysteme.ma</span></li>
                    <li><strong><i class="far fa-clock"></i></strong> <span>Du Lundi au Vendredi - du 9.00 au 18.00
                            <br>Samedi -
                            du 9.00 au 12.00</span></li>
                </ul>
            </div>
        </div>
        <div class="line"></div>
        <div class="copy">
            © Copyright © 2020 SWISSYSTEME MAROC - Tous droits réservés.
        </div>
    </div>
</footer>