<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/loader.css">
    <!--<link rel="stylesheet" href="css/catalogue.css">-->

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
    <style>
      
    </style>
</head>

<body>
    <%- include("components/loader.ejs") %>
    <%- include("components/nav.ejs",{acceuil:"",produits:"",catalogue:"active",contact:""}) %>
    <script src="javascript/nav.js"></script>
    <script src="javascript/loader.js"></script>
    <script src="javascript/turn.js"></script>
</body>

</html>