<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/loader.css">

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" href="media/logo.svg" type="image/icon type">

    <title>
        Swissysteme Catalogue | Produits D'une Qualité maximale et excellent services
    </title>
    <style>
      
    </style>
</head>

<body>
    <%- include("components/loader.ejs") %>
    <%- include("components/nav.ejs",{acceuil:"",produits:"",catalogue:"active",contact:""}) %>
    <iframe style="margin-top: 6em;" allowfullscreen src="https://cdn.flipsnack.com/widget/v2/widget.html?hash=v1mq1uh6rh&be=1&t=1608990882" height="700px" width="100%" frameborder="0"></iframe>
    <script src="javascript/nav.js"></script>
    <script src="javascript/loader.js"></script>
    <script src="javascript/turn.js"></script>
</body>

</html>