<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login V19</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="/css/admin/loader.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <%- include("components/admin/loader.ejs") %>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">

                    <form class="login100-form validate-form" method="POST">
                        <span class="login100-form-title p-b-33">
                            Connexion Admin
                        </span>
                        <% if (success_msg !='' ) { %>
                            <div class="alert success_msg">
                                <div class="msg"><%= success_msg %></div>
                                    <div class="close-btn">
                                        <i class="fa fa-times"></i>
                                    </div>
                            </div>
                        
                            <% } %>
                                <% if ( error !='' ) { %>
                                    <div class="alert error">
                                       <div class="msg"><%= error %></div>
                                            <div class="close-btn">
                                                <i class="fa fa-times"></i>
                                            </div>
                                    </div>
                        
                                    <% } %>

                                <div class="wrap-input100 validate-input"
                                    data-validate="Valid email is required: ex@abc.xyz">
                                    <input autocomplete="false" class="input100" type="text" name="email"
                                        placeholder="Email">
                                    <span class="focus-input100-1"></span>
                                    <span class="focus-input100-2"></span>
                                </div>

                                <div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
                                    <input autocomplete="false" class="input100" type="password" name="password"
                                        placeholder="Mot de passe">
                                    <span class="focus-input100-1"></span>
                                    <span class="focus-input100-2"></span>
                                </div>

                                <div class="container-login100-form-btn m-t-20">
                                    <button class="login100-form-btn">
                                        se connecter
                                    </button>
                                </div>

                                <div class="text-center p-t-45 p-b-4">
                                    <span class="txt1">
                                        Swissysteme &copy; 2020 Tous les droits sont réservés
                                    </span>


                                </div>


                    </form>
                </div>
            </div>
        </div>


        <script src="/javascript/closebtn.js"></script>
        <script src="/javascript/loader.js"></script>


</body>

</html>