<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/notfound.css">
</head>

<body>
  <div class="container">

    <div class="copy-container center-xy">
      <img src="/media/logo.png" alt="">
        <p>
          <span class="handle"></span>
          404 Page non trouvée. <strong>Rediriger / dans 3 secondes</strong>
        </p>
    </div>

    <script>
      setTimeout(()=>{
       window.history.back();
      },3000)
    </script>
  </div>