<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/notfound.css">
  <link rel="stylesheet" href="/css/loader.css">
</head>

<body>
    <%- include("components/loader.ejs") %>

  <div class="container">

    <div class="copy-container center-xy">
        <p>
          <span class="handle"></span>
          404 Page non trouvée.
        </p>
    </div>

    <script>
      setTimeout(()=>{
       window.history.back();
      },3000)
    </script>
    <script src="/javascript/loader.js"></script>
  </div>