@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
.contact-us {
    font-size: 0.9em;
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #fff;
    display: flex;
    align-items: center;
    .lef-col-cont {
        position: relative;
        width: 50%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contact-title {
            font-size: 2.5em;
            color: #ed2232;
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 400;
        }
        .contact-desc {
            font-size: 1.3em;
            font-family: "Source Sans Pro", sans-serif;
            margin-top: 0.5em;
            font-weight: 100;
        }
    }
    .rig-col-cont {
        height: 100%;
        width: 50%;
        background-image: url(../media/contactez.jpg);
        background-size: cover;
        background-position: center center;
    }
}
.contact-us-cords {
    font-size: 0.9em;

    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 2em 0;
    margin-top: 3em;
    justify-content: center;
    .cord {
        display: flex;
        justify-content: center;
        i {
            font-size: 1.7em;
            margin: 0 0.5em;
            color: #ed2232;
        }
        .data {
            font-size: 1.4em;
            .title-data {
                font-size: 1em;
                font-family: Falling;
            }
            .data-text {
                margin-top: 0.5em;
                font-family: "Source Sans Pro", sans-serif;
                font-size: 0.85em;
            }
        }
    }
}
.form-contact-us {
    font-size: 0.9em;
    position: relative;
    width: calc(1000px - 4em);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.1);
    padding: 0.2em 2em;
    margin: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        position: relative;
        text-align: center;
        width: 100%;
        button {
            font-size: 1.3em;
            padding: .8em 5em;
            margin: 1em 0;
            background-color: #ed2232;
            color: #fff;
            font-family: Falling;
            border: none;
            border-radius: 4    px;
        }
        .top-section {
            margin-top: 3em;
            .title-form {
                font-size: 1.8em;
                color: #ed2232;
                font-family: "Source Sans Pro", sans-serif;
                text-transform: uppercase;
                color: #1b1b1b;
            }
            .msg-form {
                font-size: 1.3em;
                margin: 0.7em 0 3em 0;
                font-family: "Source Sans Pro", sans-serif;
                font-weight: 100;
                color: #ed2232;
            }
        }
        .inputs-cli {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 45% 45%;
            justify-content: space-between;
            height: 500px;
            margin-bottom: 2em;
            .input-container {
                position: relative;
                width: calc(100% - 1em);
                margin: 0 0.5em;
                display: grid;
                grid-template-rows: 25% 25% 25% 25%;
                &.second {
                    grid-template-rows: 25% 25% 50% !important;
                }
                .input-cli {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    &.selected {
                        align-items: center !important;
                    }
                    input {
                        display: block !important;
                        position: relative;
                        width: calc(100% - 0.5em);
                        padding-left: 0.5em;
                        height: 40%;
                        font-size: 1.2em;
                        font-family: "Source Sans Pro", sans-serif;
                        border: 1px solid #dfdede;
                        outline: none;
                    }
                    select {
                        width: calc(100% - 0.5em);
                        padding-left: 0.5em;
                        font-size: 1.2em;

                        height: 40%;
                        border: 1px solid #dfdede;
                        outline: none;
                        font-family: "Source Sans Pro", sans-serif;

                        option {
                            font-family: "Source Sans Pro", sans-serif;
                        }
                    }
                    textarea {
                        position: relative;
                        font-size: 1.2em;
                        width: calc(100% - 0.5em);
                        font-family: "Source Sans Pro", sans-serif;
                        padding-left: 0.5em;
                        padding-top: 0.6em;
                        height: calc(100% - 1em);
                        max-width: calc(100% - 0.5em) !important;
                        max-height: calc(100% - 1em) !important;
                        border: 1px solid #dfdede;
                        outline: none;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 1000px) {
    .contact-us {
        div.lef-col-cont {
            position: absolute;
            width: fit-content;
            .container-contact {
                display: flex;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 0.685);
                padding: 1.5em 0.5em;
                margin: 0 1em;
                width: fit-content;
               
                font-size: 0.9em;
                text-align: center;
                align-items: center;
            }
        }
        div.rig-col-cont {
            width: 100%;
        }
    }
    .contact-us-cords {
        font-size: 0.85em;
        grid-template-columns: 100%;
        margin: 0 !important;

        .cord {
            display: flex;
            justify-content: flex-start;
            margin: 1.5em 0;
            i {
                font-size: 1.5em;
                margin: 0 0.5em;
                color: #ed2232;
            }
            .data {
                .title-data {
                    transform: translateY(-0.2em);
                }
                .data-text {
                    margin-top: 0.3em;
                }
            }
        }
    }
    button {
        width: 100%;
        border-radius: 5px;
    }
    .form-contact-us {
        width: calc(100% - 1.5em);
        font-size: 0.8em;
        .inputs-cli {
            grid-template-columns: 100% !important;
            height: fit-content !important;
            &.selected {
                align-items: center !important;
            }
            input {
                margin: 1em 0 !important;
            }
            input,
            select {
                height: 4em !important;
            }

            textarea {
                height: 300px !important;
                margin: 0 !important;
                width: 100% !important;
                max-width: 100% !important;
                padding-top: 1em;
            }
        }
    }
}
