@font-face {
  src: url(/fonts/Falling.otf);
  font-family: Falling;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
body {
  background: #fff;
}
nav {
  background: transparent;
  position: fixed;
  padding: 0.2em 0;
  z-index: 99;
  top: 0;
  color: #565656;
  width: 100%;
  transition: .5s background-color , .3s transform ;
  transform: scale(1);
  top: 0;

}
nav.moved {
  background: #FCFDFE !important;
  color: #565656!important;
  padding: 0em 0;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.3);

}
nav.moved  ul ul li {
  color: #56585b;
}
nav:after {
  content: "";
  clear: both;
  display: table;
}
nav .logo {
  position: relative;
  float: left;
  color: inherit;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
nav .logo img {
  position: relative;
  width: 140px;
  left: 0;
  transform: translateY(12px);
}
nav ul {
  float: right;
  margin-right: 40px;
  transform: translateY(3px);
  list-style: none;
  position: relative;
  font-family: Falling;
}
nav ul li {
  display: inline-block;
  background: inherit;
  margin: 0 5px;
}
nav ul li a {
  color: inherit;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
nav ul li a:hover {
  color: #ed2232;
  border-radius: 5px;
}
nav ul ul li a:hover {
  box-shadow: none;
}
nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #ed2232;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
  width: fit-content;
}
nav ul ul ul {
  border-top: none;
  width: fit-content;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  width: fit-content;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul li a {
  line-height: 50px;
}
li a.active {
  color: #ed2232;
}
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}
nav ul.fixed-ul {
  background-color: #FCFDFE;
  
}
.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  nav {
    color: #1b1B1b !important;
  }
  nav ul {
    margin-right: 0px;
    float: left;
    color: #1b1B1b !important;

  }
  nav span {
    color: #8d8f92;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  nav ul {
    display: none;
  }
  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: #1b1B1b;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: #ed2232;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
  nav ul.fixed-ul {
  background-color: transparent;
  
}
 nav ul.fixed-ul li {
  color: #1b1B1b !important;

 }
}
.content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p {
  font-size: 30px;
  font-weight: 500;
}
