<link rel="stylesheet" href="../../css/admin/header-ini.css">
<header>
    <div class="iconMain"> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
            style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <g>
                    <polygon
                        points="256,152.96 79.894,288.469 79.894,470.018 221.401,470.018 221.401,336.973 296.576,336.973 296.576,470.018 432.107,470.018 432.107,288.469 		">
                    </polygon>
                </g>
            </g>
            <g>
                <g>
                    <polygon
                        points="439.482,183.132 439.482,90.307 365.316,90.307 365.316,126.077 256,41.982 0,238.919 35.339,284.855 256,115.062 476.662,284.856 512,238.92 		">
                    </polygon>
                </g>
            </g>
        </svg> </div>
    <div class="navs-ng">
        <ul>
            <li> <a href="">Acceuil</a> </li>
            <li>
                <div class="icon"> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 258.75 258.75"
                        style="enable-background:new 0 0 258.75 258.75;" xml:space="preserve">
                        <g>
                            <circle cx="129.375" cy="60" r="60"></circle>
                            <path
                                d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z">
                            </path>
                        </g>
                    </svg> </div> Swissysteme
            </li>
            <li class="backend"> <a href="">Acceuil SiteWeb</a> </li>
            <li> <a href="">Se deconnecter</a> </li>
            <li id="fullScreen">
                <svg style="width: 1em; margin:0 .5em 0 .5em" version="1.1" id="Layer_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 348.198 348.198" xml:space="preserve">
                    <polygon
                        points="297.843,71.569 348.198,121.924 348.198,0 226.274,0 276.63,50.356 174.099,152.886 71.569,50.356 121.924,0 0,0 0,121.924 50.356,71.569 152.886,174.099 50.356,276.63 0,226.274 0,348.198 121.924,348.198 71.569,297.842 174.099,195.312 276.63,297.842 226.274,348.198 348.198,348.198 348.198,226.274 297.843,276.63 195.312,174.099 ">
                    </polygon>
                </svg>
            </li>
        </ul>
    </div>
</header>