.inbox-sec {
    width: 95%;
    height: 88%;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: space-between;
    bottom:  0;
    margin-top: 1em;
    .messages {
        position: relative;
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .message {
            width: 100%;
            height: fit-content;
            background-color: #fff;
            box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.08);
            padding: 0.5em 0;
            margin-bottom: 1em;
            transition: 0.2s transform;
            transform: scale(0.95);
            backface-visibility: hidden !important;
            border-radius: 3px;
            &:hover {
                transform: scale(1);
                box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
            }
            a {
                text-decoration: none;
                color: inherit;
            }
            .top-sec {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 0.9em;
                .icon {
                    width: 1.3em;
                    height: 1.3em;
                    margin: 0 0.5em;
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                .name {
                    font-size: 0.55em;
                    color: #727375;
                    font-family: Falling;
                }
            }
            .min-msg {
                font-size: 0.6em;
                padding: 0 0.5em 0 1em;
                margin-top: 1em;
                font-family: "Source Sans Pro", sans-serif;
            }
            .bt-sc {
                display: flex;
                width: calc(100% - 1em);
                align-items: center;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                margin-top: 1em;

                .c-bt {
                    width: 50%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: flex-start;

                    input {
                        display: none;
                    }
                    label {
                        width: 0.6em;
                        height: 0.6em;
                        background-color: #f4f5f9;
                        border: 1px solid #eaebef;
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0.5em;
                        i {
                            font-size: 0.35em;
                            color: gray;
                            transition: 0.3s transform;
                            transform: scale(0);
                        }
                    }
                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 0.5em;
                        padding: 0 !important;
                        margin-bottom: 0.1em;
                        cursor: pointer;
                        outline: none !important;
                        &.fav i {
                            color: #f5a91e;
                        }
                        i {
                            font-size: 1.2em;
                            color: #dddedf;
                        }
                    }
                    input[type="checkbox"]:checked + label i {
                        transform: scale(1);
                    }
                }
                .dateTime {
                    font-family: "Source Sans Pro", sans-serif;
                    font-size: 0.5em;
                    color: #bcbdbe;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }
    }
    .display-message {
        position: relative;
        width: 69%;
        height: calc(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        overflow-y: auto !important;
        
        svg {
            width: 5em;
            height: 5em;
            transform: translateX(1.3em);
        }
        &.dis {
            position: relative;
            display: block;
            width: calc(100% - 2em) !important;
            padding: 0 1em;
            height: auto;
            min-height: 100%;
            .t_sec {
                margin-top: 1em;
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                width: 100%;
                .conl {
                    font-size: 0.6em;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    .date {
                        font-family: "Source Sans Pro", sans-serif;
                        color: #c3c4c5;
                        margin-bottom: 0.5em;
                    }
                    .object {
                        font-size: 1.6em;
                        font-family: Falling;
                        margin: 0.3em 0;
                    }
                    .from,
                    .companyName,
                    .fullname {
                        margin-top: 1em;
                        font-family: "Source Sans Pro", sans-serif;
                        font-size: 0.9em;
                        strong {
                            margin-right: 0.3em;
                        }
                    }
                }

                .conr {
                    display: flex;
                    justify-content: flex-end;
                    width: 50%;

                    button {
                        background-color: transparent;
                        border: none;
                        width: 2.3em;
                        height: 2.3em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 0.5em;
                        cursor: pointer;
                        svg {
                            width: 90%;
                            height: 90%;
                        }
                    }
                }
            }
            .message {
                font-size: 0.6em !important;
                font-family: "Source Sans Pro", sans-serif;
                padding: 1em 0;
                outline: none !important;
                div {
                    outline: none !important;
                }
            }
        }
    }
}
