.inbox-sec {
    position: relative;
    width: 95%;
    height: 85%;
    max-height: 85%;
    overflow-y: auto;
    margin-top: 1em;
    display: flex;
    align-items: center;
    border-radius: 3px;
    justify-content: space-between;
    .messages {
        position: relative;
        width: 25%;
        height: 100%;
        background-color: #fff;
    }
    .display-message {
        position: relative;
        width: 74%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        svg {
            width: 5em;
            height: 5em;
            transform: translateX(1.3em);

        }
    }
}
