.alert {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.6em;
  margin: 2em 0 0;
  padding: 0.8em 0.5em;
  border: 1px solid;
  border-radius: 3px;
  -webkit-transition: 0.5s opacity, 0.3s -webkit-transform;
  transition: 0.5s opacity, 0.3s -webkit-transform;
  transition: 0.5s opacity, 0.3s transform;
  transition: 0.5s opacity, 0.3s transform, 0.3s -webkit-transform;
}

.alert i {
  margin: 0 0.5em 0 1em;
  cursor: pointer;
  -webkit-transform: translateY(0.09em);
          transform: translateY(0.09em);
}

.alert .msg {
  margin: 0 1em;
  font-family: Falling;
}

.alert.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert.hidden {
  opacity: 0;
  -webkit-transform: translateY(-10em);
          transform: translateY(-10em);
}

section#Add-cat {
  margin: 1em 0 0.5em 0;
  background-color: #fff;
}

section#Add-cat form {
  position: relative;
  width: calc(100% - 1.3em);
  padding-left: 0.7em;
  margin-top: 0.8em;
}

section#Add-cat form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.8em;
}

section#Add-cat form div.cpt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#Add-cat form div label {
  font-size: 0.6em;
  font-family: "Source Sans Pro", sans-serif;
}

section#Add-cat form div label.pt {
  font-size: 0.5em !important;
}

section#Add-cat form div input[type="checkbox"] {
  margin-top: 0.3em !important;
  margin-right: 0.6em;
}

section#Add-cat form div input[type="text"],
section#Add-cat form div select,
section#Add-cat form div textarea {
  display: block;
  width: 500px;
  border: none;
  font-size: 0.6em;
  border: 1px solid #ced4da;
  border-radius: 2px;
  margin-top: 0.8em;
  padding: 0.6em 0.6em;
  outline: none;
  color: #1b1b1b;
}

section#Add-cat form div input[type="text"]::-webkit-input-placeholder,
section#Add-cat form div select::-webkit-input-placeholder,
section#Add-cat form div textarea::-webkit-input-placeholder {
  color: #b1b7bd;
  padding: 0;
}

section#Add-cat form div input[type="text"]:-ms-input-placeholder,
section#Add-cat form div select:-ms-input-placeholder,
section#Add-cat form div textarea:-ms-input-placeholder {
  color: #b1b7bd;
  padding: 0;
}

section#Add-cat form div input[type="text"]::-ms-input-placeholder,
section#Add-cat form div select::-ms-input-placeholder,
section#Add-cat form div textarea::-ms-input-placeholder {
  color: #b1b7bd;
  padding: 0;
}

section#Add-cat form div input[type="text"]::placeholder,
section#Add-cat form div select::placeholder,
section#Add-cat form div textarea::placeholder {
  color: #b1b7bd;
  padding: 0;
}

section#Add-cat form div select {
  width: 522px !important;
}

section#Add-cat form div select#proMarq {
  height: 8em;
}

section#Add-cat form div textarea {
  max-width: 500px !important;
  max-height: 7em;
}

section#Add-cat form div .con {
  position: relative;
  width: 522px;
  height: 10em;
  cursor: pointer;
  margin: 0.5em 0 1em 0;
}

section#Add-cat form div .con img {
  width: 100%;
  height: 100%;
  -o-object-position: left left;
     object-position: left left;
  border: none !important;
  z-index: 2;
}

section#Add-cat form div .con img.cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

section#Add-cat form div .con img.contain {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

section#Add-cat form div .con span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.6em;
  z-index: 1;
  opacity: .3;
}

section#Add-cat form button {
  position: relative;
  font-size: 0.6em;
  background-color: #ed2837;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  padding: 0.3em 1em 0.4em 1em;
  margin-top: 1.2em;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

section#anal .container-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10em;
  width: 100%;
}

section#anal .container-dashboard .con-7 {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#anal .container-dashboard .con-7:first-of-type {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#anal .container-dashboard .con-7:last-of-type {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

section#anal .container-dashboard .con-7 .card-ov {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
  margin: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 4em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section#anal .container-dashboard .con-7 .card-ov .icon {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7273752f;
  margin: 0em 0 0.5em 0;
}

section#anal .container-dashboard .con-7 .card-ov .icon svg {
  width: 0.9em;
  height: 0.9em;
  fill: #727375;
}

section#anal .container-dashboard .con-7 .card-ov .icon svg.s10 {
  width: 0.8em;
  height: 0.8em;
}

section#anal .container-dashboard .con-7 .card-ov .number {
  font-size: 2.3em;
  font-family: Falling;
  font-weight: bold;
}

section#anal .container-dashboard .con-7 .card-ov .total {
  font-size: 0.6em;
  color: #727375;
  font-family: "Source Sans Pro", sans-serif;
}

section#anal .container-dashboard .con-7 .card-ov:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section#anal .container-dashboard .card-desc-ui {
  width: calc(100%);
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
  height: 12em;
}

section#anal .container-dashboard .card-desc-ui .top-sec {
  border-bottom: 1px solid #7273752f;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#anal .container-dashboard .card-desc-ui .top-sec .text {
  font-size: 0.6em;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
}

section#anal .container-dashboard .card-desc-ui .top-sec .icon {
  width: 1em;
  height: 1em;
}

section#anal .container-dashboard .card-desc-ui .top-sec .icon svg {
  width: 0.9em;
  height: 0.9em;
  fill: #727375;
}

section#anal .container-dashboard .card-desc-ui ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto !important;
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#anal .container-dashboard .card-desc-ui ul li {
  width: calc(100% - 1.8em);
  font-size: 0.55em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0.5em 0.9em;
  margin: 0.5em 0 1em 0;
  color: #727375;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

section#anal .container-dashboard .card-desc-ui ul li img {
  width: 5em;
}

section#anal .container-dashboard .card-desc-ui ul li strong {
  color: #ed2837;
  font-size: 0.8em;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #72737563;
  -webkit-transition: 1s all;
  transition: 1s all;
}

*::-webkit-scrollbar-thumb:hover {
  background: #727375;
  -webkit-transition: 1s all;
  transition: 1s all;
}

*::-webkit-scrollbar-track {
  background: #ffff;
}
/*# sourceMappingURL=ini.css.map */