body .loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 100;
  transition: opacity 0.3s;
}
body .loader svg {
    width: 1em;
    animation: rot 1s linear infinite;
}
@keyframes rot { 
  100% { transform: rotate(360deg); }
}
body .loader.stop svg {
    animation: none;
}
body .loader.stop  {
    display: none;
}