@font-face {
  src: url(../../fonts/Falling.otf);
  font-family: Falling;
}

body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
  font-size: calc(1em + 0.65vw);
}

body nav {
  position: absolute;
  left: 0;
  height: calc(100% - 0.6em);
  width: calc(6em);
  background-color: #fff;
  overflow: hidden auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5em;
  margin: 0.6em 1em 0 1em;
  -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

body nav header {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.6em;
}

body nav header div.logo {
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav header div.logo img {
  width: 95%;
  fill: #7a939e;
}

body nav header div.logo img path.cgt {
  fill: #d1c4e9;
}

body nav header div.ico {
  width: 1em;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav header div.ico svg {
  width: 0.8em;
  height: 0.8em;
  fill: #727375;
}

body nav div.navs {
  position: relative;
  margin-top: 3em;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body nav div.navs .nav-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  margin: 0.5em 0;
  width: 42%;
  -webkit-transition: 0.4s background-color, 0.4s -webkit-box-shadow;
  transition: 0.4s background-color, 0.4s -webkit-box-shadow;
  transition: 0.4s background-color, 0.4s box-shadow;
  transition: 0.4s background-color, 0.4s box-shadow, 0.4s -webkit-box-shadow;
  font-size: 0.9em;
}

body nav div.navs .nav-link.active {
  -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

body nav div.navs .nav-link.active a svg {
  fill: #ed2837;
}

body nav div.navs .nav-link.active a span {
  color: #ed2837;
}

body nav div.navs .nav-link:hover {
  -webkit-box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.2);
}

body nav div.navs .nav-link a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 0.5em;
  color: inherit;
  font-family: Falling;
}

body nav div.navs .nav-link a .nm {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #ed2837;
  top: 0;
  left: 79%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body nav div.navs .nav-link a svg {
  height: 1.9em;
  width: 1.9em;
  fill: #727375;
}

body nav div.navs .nav-link a svg.s19 {
  width: 2.2em;
  height: 2.2em;
}

body nav div.navs .nav-link a span {
  margin-top: 0.7em;
  color: #727375;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  body nav {
    width: calc(100%) !important;
    z-index: 5;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1em;
  }
  body nav header {
    width: 90%;
  }
  body nav header div.logo {
    width: 6em;
  }
  body nav header div.ico {
    width: 2em;
    height: 2em;
  }
  body nav header div.ico svg {
    width: 1.4em;
    height: 1.4em;
  }
  body nav div.navs {
    width: 80%;
  }
  body nav div.navs .nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    font-size: 1.2em;
  }
  main {
    left: 0 !important;
    height: 100%;
    width: 100% !important;
  }
  main header {
    font-size: 1.1em !important;
  }
  main header ul li:nth-child(1), main header ul li:nth-child(2) {
    display: none !important;
  }
}
/*# sourceMappingURL=nav.css.map */